:root {
  --bg: #ffffff;
  --text: #0E121B;
  --text-white: white;
  --bg-dark: #F3F5F8;
  --fill-svg: #335CFF;
  --border-color: #E0E4EA;
  --dark-text: #99A0AE;
}

[data-theme="dark"] {
  --bg: #0E121B;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
  height: 100vh;
  width: 100vw;
}